footer {
    background-color: #005677;
}

header {
    background-color: #E6E6E6;
    text-align: center;
}

body{
    background-color: #E5E5E5;
}

.title {
    background-color: #C4C4C4;
    color: #005677;
    
  
    
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 84.69%;
    letter-spacing: 22px;
    
    font-feature-settings: 'cpsp' on;
    
}

.data {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    line-height: 84.69%;



color: #000000;
}

